doctype html
html
    head
        meta(charset="utf-8")
        title Member Center
        meta(name="viewport" content="width=device-width,initial-scale=1")
    body
        div.main-wrap
            div#app
        if htmlWebpackPlugin.options.development
            div#devtools
